@font-face {
    font-family: "KumbhSans";
    src: url("../fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf");
    font-weight: 800;
}

.faq-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.faq-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh; /* Reduced gap for better spacing */
    justify-content: center;
    /* align-items: center; */
    height: auto; /* Changed from 100vh to auto for better responsiveness */
    /* border: 1px solid black; */
}

.accordion-title, .accordion-content {
    font-family:'KumbhSans' !important ;
    width: 90%; /* Set a consistent width for all accordion items */
    margin: 0 auto; /* Center the accordion items */
}
.faq-title
{
    font-family:'KumbhSans',sans-serif;
}
.accordion-title {
    background-color: #E57847;
    font-family:'KumbhSans' !important ;
    display: flex;
    justify-content: center; /* Adjusted for better spacing */
    align-items: center;
    padding: 2vh; /* Added padding for better touch targets */
    border: 3px solid black;
    font-size: 4vh; /* Reduced font size */
    border-radius: 1vh; /* Adjusted border radius */
    cursor: pointer; /* Indicates the element is clickable */
}

.accordion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw; /* Reduced font size */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0; /* Initially, max-height is 0 */
    opacity: 0;
    background-color:#D9D9D9;
    border: 1px solid black;
    border-radius: 5px;
}

.accordion-content-active {
    padding:1vw;
    max-height: 25vh; /* Adjusted max-height for better fit */
    opacity: 1; /* Content is fully visible */
}

.accordion-item {
    opacity: 0;
    transition: opacity 5s ease-in-out, transform 5s ease-in-out;
    transform: translateY(20px);
    visibility: hidden;
    /* border: 1px solid black; */
}

.accordion-item-in-view {
    animation: fadeInUp 1s ease forwards;
    visibility: visible; /* Make item visible when in view */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.faq-title {
    font-size: 8vh; /* Reduced font size */
}

@media(max-width: 768px) {
    .faq-container {
        row-gap: 1vh; /* Further reduced gap for mobile */
    }

    .accordion-title, .accordion-content {
        width: 95%; /* Adjusted width for mobile */
    }

    .accordion-title {
        font-size: 18px; /* Reduced font size for mobile */
    }

    .accordion-content {
        font-size: 2vh; /* Ensured font size is consistent on mobile */
    }

    .faq-title {
        justify-content: center;
 /* Reduced font size for mobile */
    }
    h2{
        font-size: 40px;
    }
}
