body {
    margin: 0;
    background: rgba(238, 111, 39);
}

.leaderboard-container {
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background-image: url('/public/ellipses.svg');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

.leaderboard-header {
    font-size: 48px;
    color: #000;
    margin-bottom: 20px;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.522);
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
}

.task-item .position {
    font-weight: bold;
}

.task-item .name {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    
   
    white-space: nowrap;
}

.task-item .points {
    text-align: right;
    color: #333;
    
    
}

/* Responsive Styles */
@media (max-width: 645px) {
    
    .leaderboard-header {
        font-size: 37px;
    }

    
   

    .points {
        margin: 10px 0px;
        font-size: 14px;
        display: inline;

    }
}

@media (max-width: 450px) {

    .leaderboard-header {
        font-size: 32px;
    }

    .task-item {
        font-size: 12px;
        padding: 6px 8px;
    }

    .task-item .name {
        margin-left: 5px;
        margin-right: 3px;
    }

    .task-item .points {
        margin-left: 3px;
    }
}
